.exchange-input {
  flex-shrink: 0;
  width: 130px;
  height: 80px;
  border: 2px solid #202e50;
  border-radius: 6px;
  color: #fff;
  margin-right: 10px;
  padding: 3px;

  &--input {
    width: 80px;
    height: 36px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    text-align: right;
    margin-right: 3px;
    background: transparent;

    &__mobile {
      width: 57px;
      height: 36px;
      border: none;
      outline: none;
      color: #fff;
      font-size: 16px;
      text-align: right;
      margin-right: 3px;
      background: transparent;
    }
  }
}