$gold-color: #c09748;
$bluer-color: #007deb;
$bluer-color-hover: #007debc4;
$gold-color-hover: #d6a64c;

$blueq-color: #2e90ee;

$red-color: #bc2728;
$green-color: #19af60;

//градиенты csgo
$gr-consumer: linear-gradient(0deg, rgba(192,192,192,0.2) 0%, rgba(15,23,44,1) 100%);
$gr-industrial: linear-gradient(0deg, rgba(153,204,255,0.2) 0%, rgba(15,23,44,1) 100%);
$gr-mil-spec: linear-gradient(0deg, rgba(0,0,255,0.2) 0%, rgba(15,23,44,1) 100%);
$gr-restricted: linear-gradient(0deg, rgba(128,0,128,0.2) 0%, rgba(15,23,44,1) 100%);
$gr-classified: linear-gradient(0deg, rgba(255,0,255,0.2) 0%, rgba(15,23,44,1) 100%);
$gr-covert: linear-gradient(0deg, rgba(255,0,0,0.2) 0%, rgba(15,23,44,1) 100%);
$gr-exceedingly-rare: linear-gradient(0deg, rgba(255,204,0,0.2) 0%, rgba(15,23,44,1) 100%);
$gr-contraband: linear-gradient(0deg, rgba(255,204,153,0.2) 0%, rgba(15,23,44,1) 100%);

//цвета csgo
$consumer: #c0c0c0;
$industrial: #99ccff;
$mil-spec: #0000ff;
$restricted: #800080;
$classified: #ff00ff;
$covert: #ff0000;
$exceedingly-rare: #ffcc00;
$contraband: #ffcc99;
